{%extends 'base.html' %} {%block content%} {%load static%}

<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">
        <h1>Courses</h1>

        <!-- Search Boxed -->
        <div class="search-boxed">
            <div class="search-box">
                <form method="post" action="../../../../external.html?link=http://demo.auburnforest.com/html/bootcamp/bootcamp/contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="What do you want to learn?" required>
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!--End Page Title-->



<div class="tab" id="prod-faq">
    <div class="content">


        <!-- Accordion Box -->
        <ul class="accordion-box">

            <!-- Block -->

            <li class="accordion block">
                <div class="acc-btn active">
                    <div class="icon-outer"><span class="icon icon-plus flaticon-angle-arrow-down"></span></div>
                    {{ course.title}}
                </div>
                <div class="acc-content current">
                    {%for lesson in lesson.all%} {% if lesson.course_Num == course.id%}
                    <div class="content">
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="../../../../external.html?link={{lesson.link}}" class="lightbox-image play-icon"><span class="fa fa-play"></span>{{lesson.title}}</a>
                            </div>
                            <div class="pull-right">
                                <div class="minutes">35 Minutes</div>
                            </div>
                        </div>
                    </div>
                    {%endif%}{%endfor%}
                </div>
            </li>

        </ul>


    </div>
</div>



{%endblock%}